<html>
    <head>
            <title>Chatbot</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

            

    </head>
    <body>

    
        <div class="mainHead">
            <div class="head">
                <span>Hatel</span>
            </div>
        </div> 
        <div class="chat">
            <div class="main">
            </div>
        </div>
        <div class="send">
            <!--<input type="input" class="txt1 form-cotrol">-->
            <textarea class="form-control txt1" rows="2"></textarea>
            <div class="btn btn1"  onclick="sender()"><i class="fas fa-paper-plane"></i></div>
        </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}" ></script>
    </body>
</html>
